* {
    margin: 0%;
    padding: 0%;
}
ul {
    list-style-type:none;
}
#logo-footer {
    width: 150px;
}
#logo-nav {
    width: 50px;
}
.btn-color{
    background-color: #C5C9A4 !important;
}
.navbar{
    background-color: #519E8A !important;
}
.footer {
    background-color: #ECBEB4 !important;
}
body{
    background-color: #476A6F !important;
}
.color-carrusel{
    background-color: #C5C9A4 !important;
    border-radius: 5px;
}
.login, .registro .home {
    width: 50%;
    background-color: #7EB09B;
    border-radius: 5px;
}
