<!-- Formulario-->
<div class="container login d-flex w-50 justify-content-center">
<form method="Post" action="http://localhost:3000/connect" class="p-3 color-2 rounded">
    <h3>Login</h3>
<div class="p-3 m-3 color-1 rounded ">
<label for="validationServerUsername" class="form-label">Username</label>
<div class="input-group has-validation">
  <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
</div>
<div >
<label for="exampleFormControlInput1" class="form-label">Email</label>
<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div>
<div class="form-check">
<input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
<label class="form-check-label" for="invalidCheck3">
  Guardar contraseña
</label>

</div>
</div>
<div class="d-flex justify-content-center">
<button class="btn btn-primary" type="submit">Entrar</button>
</div>
</form>
</div>
